@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    /*background-color: rgba(0,0,0,0.5);
    background: url("/img/aerial_csulbcampus.jpg") no-repeat center center fixed;
    background-size: cover;*/
    /*filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);*/
}

.background-image {
  background: linear-gradient(
      rgba(236, 170, 0, 0.7),
      rgba(236, 170, 0, 0.7)
    ), url('/img/aerial_csulbcampus.jpg');
 /* -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);*/
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
    font-size: 3rem;
    font-family: 'Frank Ruhl Libre', serif;
    color: white;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.3rem;
  }
  h4 {
    font-size: 1rem;
  }
  .timeline-container::after {
    left: 0px !important;
  }
  .decade h1 {
    font-size: 2rem;
    padding-left: 10px;
  }
  .timeline-item:nth-child(odd) {
    left: 0px !important;
  }

  .timeline-item-content::after {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2) !important;
    right: auto;
    left: -7.5px
    }

    .timeline-item {
        align-self: flex-end;
        justify-content: flex-start !important;
        padding-right: 0 !important;
        margin: 30px !important;
    }

    .timeline-item-content {
        max-width: 100% !important;
    }

    .timeline-item:nth-child(odd) .timeline-item-content {
        align-items: flex-end !important;
    }

    .timeline-item .circle {
        right: auto;
        left: -38px !important;
    }

    .timeline-item:nth-child(odd) .timeline-item-content .circle {
        left: -38px !important;
    }

    .timeline-item-content time {
        font-size: 14px !important;
    }

    .timeline-item-content h1 {
        font-size: 1.2rem !important;
    }
}


h4 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    /*background-color: #e17b77;*/
    background-color: black;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    left: calc(50%);
    padding-right: 0;
    margin: 30px;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: left;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content h1 {
    font-size: 1.5rem;
    font-family: 'Frank Ruhl Libre', serif;
    color: black;
}

.timeline-item-content time {
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 350px;
}

.timeline-item-content a {
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timeline-item .circle {
    background-color: black;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
    padding-left: -30px;
}
