@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  z-index: 999;
}

.navbar a{
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.5em;
  text-shadow: 2px 2px #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    text-shadow: 2px 2px #000;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 20px !important;
}

.btn-outline-light {
  background-color: rgba(105,105,105,0.8) !important;
}

.btn:hover {
  background-color: rgba(245,245,245,0.8) !important;
}


/* Full page responsive background image */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Full page background color */
div.home-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: $home-bg;
}

@media screen and (max-width: 1024px) {

  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }

  div.home-bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}

/* Slides */
.slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

/* Homepage */
.celebration {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline;
  overflow: hidden;
}

.celebration h1 {
  /*font-size: 5vw;*/
  font-size: 70px;
  color: white;
  text-shadow: 3px 3px #000;
  display: inline;
  text-align-last: left;
 /* font-family: 'Josefin Sans', cursive;*/
  font-family: 'Frank Ruhl Libre', serif;
/*  font-family: 'Playfair Display', serif;
*/}

@media only screen and (max-width: 500px) {
  .celebration h1 {
    text-shadow: 2px 2px #000;
    font-size: 45px;
  }
}

.Typist {
  display: inline;
  font-family: 'Special Elite', cursive;
  color: #ecaa00;
}







